.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;  
}

.navbar-toggler {
     border: 0 !important;
}

img{
    width: 150px;
    height: 150px;
}

.card {
    max-width: 381.432px; max-height: 441.012px;
}

.container{
    padding: 0 7% 0 7%;
}